* {
    box-sizing: border-box;
}

:root {
    --primary-color: #029E9D;
}

a {
    text-decoration: none;
}

/* ss2 */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.ss2 {
    text-align: center;
    padding: 20px;
}

.ss2 h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: #f5b700;
    margin: 0;
}

.ss2 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card .info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.card .info h2 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
}

.card .info p {
    margin: 0;
    font-size: 1em;
    color: #f5a623;
}

.large-card {
    width: 45%;
}

.small-card {
    width: 22%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    .large-card,
    .small-card {
        width: 100%;
        /* Đảm bảo 1 thẻ trong 1 hàng */
    }

    .container {
        gap: 10px;
        /* Giảm khoảng cách giữa các thẻ */
    }
}